#### 서울특별시 공공자전거 따릉이 데이터 전처리

#### Data Preprocessing
- 여러 개의 파일을 하나로 합치기
- 컬럼명 확인 및 통일
- 데이터 확인 및 전처리

In [1]:
import pandas as pd

In [2]:
# 여러 파일을 하나로 합치기
filepath = 'C:/Users/Owner/ML/test1'
from glob import glob
glob(filepath + '/*.csv')

['C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_19.12_20.056.csv',
 'C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_20.06.csv',
 'C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_20.07.csv',
 'C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_20.08.csv',
 'C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_20.09.csv',
 'C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_20.10.csv',
 'C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_20.11.csv',
 'C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_20.12.csv',
 'C:/Users/Owner/ML/test1\\공공자전거 이용정보(시간대별)_21.01.csv',
 'C:/Users/Owner/ML/test1\\서울특별시 공공자전거 이용정보(시간대별)_2017년_1.csv',
 'C:/Users/Owner/ML/test1\\서울특별시 공공자전거 이용정보(시간대별)_2017년_2.csv',
 'C:/Users/Owner/ML/test1\\서울특별시 공공자전거 이용정보(시간대별)_2017년_3.csv',
 'C:/Users/Owner/ML/test1\\서울특별시 공공자전거 이용정보(시간대별)_2017년_4.csv',
 'C:/Users/Owner/ML/test1\\서울특별시 공공자전거 이용정보(시간대별)_2017년_5.csv',
 'C:/Users/Owner/ML/test1\\서울특별시 공공자전거 이용정보(시간대별)_2017년_6.csv',
 'C:/Users/Owner/ML/test1\\서울특별시 공공자전거 이용정보(시간대별)_20190601_20191130(10).csv',
 'C:/Users/Owner/ML/test1\\서울특별시_공공자전거_시간대별_대여정보_201812_201905(6).csv']

In [3]:
all_path = glob(filepath + '/*.csv') + glob(filepath + '/*.xlsx')

In [4]:
# 컬럼명 확인 - 맨 첫번째줄(컬럼)만 읽어서 리스트화
all_cols = []

for path in all_path:  
    if '.csv' in path:   
        cols = list(pd.read_csv(path, encoding = 'cp949', skiprows = lambda x : x>2).columns)
    else:
        list(pd.read_excel(path, skiprows = lambda x : x>2).columns)
        
    all_cols = all_cols + cols

set(all_cols)

{"'대여구분코드'",
 "'대여소'",
 "'대여소번호'",
 "'대여시간'",
 "'대여일자'",
 "'성별'",
 "'연령대코드'",
 "'운동량'",
 "'이동거리(M)'",
 "'이동시간(분)'",
 "'이용건수'",
 "'탄소량'",
 '대여구분코드',
 '대여소명',
 '대여소번호',
 '대여시간',
 '대여일자',
 '사용시간',
 '성별',
 '연령대코드',
 '운동량',
 '이동거리',
 '이용건수',
 '탄소량'}

In [5]:
# 원하는 컬럼만 추린 후, 컬럼명 통일
reset_col = all_cols[:12] 
interested = ['대여일자', '대여시간', '대여구분코드', '성별', '연령대코드']
all_df = pd.DataFrame()

In [6]:
for path in all_path:
    if '.csv' in path:
        single = pd.read_csv(path, encoding = 'cp949')
    else:
        single = pd.read_excel(path)
        
    single.columns = reset_col 
    all_df = pd.concat([all_df, single[interested]]) 
    print(all_df.shape)
    
    del single

(6894866, 5)
(9021414, 5)
(11075414, 5)
(12521408, 5)
(14723496, 5)
(17056262, 5)
(18736090, 5)
(19802991, 5)
(20521848, 5)
(21490899, 5)
(22273457, 5)
(22720838, 5)
(23424291, 5)
(24118884, 5)
(24718080, 5)
(25238730, 5)

C:\Users\Owner\AppData\Local\Temp\ipykernel_15312\2037146650.py:3: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  single = pd.read_csv(path, encoding = 'cp949')

(26263993, 5)
(26565832, 5)
(27470653, 5)
(28177741, 5)
(29074628, 5)
(29809088, 5)
(30460975, 5)

In [7]:
all_df.to_csv('test1_modified1.csv', index = False)

In [8]:
df = pd.read_csv('test1_modified1.csv')
df.head()

C:\Users\Owner\AppData\Local\Temp\ipykernel_15312\2861308387.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('test1_modified1.csv')

         대여일자 대여시간 대여구분코드   성별 연령대코드
0  2019-12-01    0    정기권  NaN  ~10대
1  2019-12-01    0    정기권  NaN  ~10대
2  2019-12-01    0    정기권  NaN  ~10대
3  2019-12-01    0    정기권  NaN  ~10대
4  2019-12-01    0    정기권  NaN  ~10대

In [9]:
# 값 확인
print(set(df['대여구분코드']))
print(set(df['성별']))
print(set(df['연령대코드']))

{"'일일(회원)'", "'정기(2시간권)'", '일일권(비회원)', '단체권', "'정기'", "'일일(2시간권)'", '일일권', '정기권', '단기권(전기)', "'일일(비회원)'", "'단체'"}
{nan, "''", "'M'", 'M', "'F'", 'm', 'f', 'F'}
{nan, "'70대~'", '20대', "'30대'", "'50대'", "'60대'", '40대', "'20대'", '~10대', "'~10대'", '70대~', '50대', "'40대'", '30대', '60대'}

In [10]:
# 값들이 공통화되어 있지 않다.
# 연령대 코드: 문자열 처리 후 따옴표 제거
df['연령대코드']  = df['연령대코드'].apply(lambda x : str(x))
set(df['연령대코드'])

{"'20대'",
 "'30대'",
 "'40대'",
 "'50대'",
 "'60대'",
 "'70대~'",
 "'~10대'",
 '20대',
 '30대',
 '40대',
 '50대',
 '60대',
 '70대~',
 'nan',
 '~10대'}

In [11]:
for col in df.columns:
    df[col] = df[col].apply(lambda x : str(x).replace('\'', ''))

In [12]:
set(df['연령대코드'])

{'20대', '30대', '40대', '50대', '60대', '70대~', 'nan', '~10대'}

In [13]:
# 매핑을 통해 '대'->'s', 결측치->unknown으로 바꾸기
mapper = {'20대' : '20s', 
          '30대' : '30s',
          '40대' : '40s',
          '50대' : '50s',
          '60대' : '60s',
          '70대~' : '70s',
          'nan' : 'unknown',
          '~10대' : '10s'}

df['age'] = df['연령대코드'].map(mapper)
set(df['age'])

{'10s', '20s', '30s', '40s', '50s', '60s', '70s', 'unknown'}

In [14]:
# 성별: 세 가지 경우의 수로 나누기
set(df['성별'])

{'', 'F', 'M', 'f', 'm', 'nan'}

In [15]:
mapper = {'' : 'U', 
          'F' : 'F', 
          'M' : 'M', 
          '\\N' : 'U', 
          'f' : 'F',
          'm' : 'M',
          'nan' : 'U'}
df['gender'] = df['성별'].map(mapper)
set(df['gender'])

{'F', 'M', 'U'}

In [16]:
# 대여구분코드: 세 가지 경우의 수로 나누기
set(df['대여구분코드'])

{'단기권(전기)',
 '단체',
 '단체권',
 '일일(2시간권)',
 '일일(비회원)',
 '일일(회원)',
 '일일권',
 '일일권(비회원)',
 '정기',
 '정기(2시간권)',
 '정기권'}

In [17]:
mapper = {'단기권(전기)' : 'casual',
         '단체' : 'group',
         '단체권' : 'group',
         '일일(2시간권)' : 'casual',
         '일일(비회원)' : 'casual',
         '일일(회원)' : 'casual',
         '일일권' : 'casual',
         '일일권(비회원)' : 'casual',
         '정기' : 'regular',
         '정기(2시간권)' : 'regular',
         '정기권' : 'regular'}

df['type'] = df['대여구분코드'].map(mapper)
set(df['type'])

{'casual', 'group', 'regular'}

In [18]:
# 대여일자의 규격은 yyyy-mm-dd를 따르고 있을까?
# 시간 정보는 hh:mm:ss 로 표현하고 있을까?

In [19]:
set(df['대여시간'])

{'0',
 '00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '1',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '2',
 '20',
 '21',
 '22',
 '23',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9'}

In [20]:
# 한자리수는 0n의 형태로 만들기-앞에 0을 붙인 후 뒤에서 두 자리만 가져온다.
df['대여시간'] = df['대여시간'].apply(lambda x : str('0' + x)[-2:])
set(df['대여시간'])

{'00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23'}

In [21]:
df['대여일자']

0                    2019-12-01
1                    2019-12-01
2                    2019-12-01
3                    2019-12-01
4                    2019-12-01
                   ...
30460970    2018-08-31 00:00:00
30460971    2018-08-31 00:00:00
30460972    2018-08-31 00:00:00
30460973    2018-08-31 00:00:00
30460974    2018-08-31 00:00:00
Name: 대여일자, Length: 30460975, dtype: object

In [22]:
set(df['대여일자'].apply(lambda x : len(x)))

{10, 19}

In [23]:
# 10인 경우의 수만 존재하도록 함
df['대여일자'] = df['대여일자'].apply(lambda x : x[:10])
set(df['대여일자'].apply(lambda x : len(x)))

{10}

In [24]:
set(df['대여일자'].apply(lambda x : x[:4]))

{'2017', '2018', '2019', '2020', '2021'}

In [25]:
set(df['대여일자'].apply(lambda x : x[5:7]))

# year, month 형식은 잘 정리되어 있다.

{'01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'}

In [26]:
# yyyy-mm-dd hh-mm-ss의 형식으로 처리하였다.
df['datetime'] = df['대여일자'] + ' ' + df['대여시간'] + ':00:00'
df.head()

         대여일자 대여시간 대여구분코드   성별 연령대코드  age gender     type             datetime
0  2019-12-01   00    정기권  nan  ~10대  10s      U  regular  2019-12-01 00:00:00
1  2019-12-01   00    정기권  nan  ~10대  10s      U  regular  2019-12-01 00:00:00
2  2019-12-01   00    정기권  nan  ~10대  10s      U  regular  2019-12-01 00:00:00
3  2019-12-01   00    정기권  nan  ~10대  10s      U  regular  2019-12-01 00:00:00
4  2019-12-01   00    정기권  nan  ~10대  10s      U  regular  2019-12-01 00:00:00